# ENV
deploy/.env
deploy/scripts/.env.*

# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
main

# Go build
bin/

# IDE
.vscode/
.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Backups
deploy/backups/*.sql

# Артефакты тестовых окржений
**/monitoring/prometheus/prometheus.test.*.yml