# Конфигурация системы
NGINX_PORT=80

# Конфигурация базы данных
DB_USER=app_user
DB_PASSWORD=app_password
DB_NAME=requests_db

# Конфигурация мониторинга
GRAFANA_USER=admin
GRAFANA_PASSWORD=admin_password
PROMETHEUS_PORT=9090
GRAFANA_PORT=3000